@{
    ViewBag.Title = "CodeSamples";
}
<div class="list-group" style="max-width:400px;">
        <a href="/Content/CodeSamples/DataContract/Datamodule.js" target="_blank" " class="list-group-item">
            <h4 class="list-group-item-heading">Code Contracts For Javascript</h4>
            <p class="list-group-item-text">Imagine that you can define contracts for your returning JSON objects from the server.So when you try to fetching the data from the server the object will be validated by it's contract</p>
            @*<p class="list-item-footer">
                Download source
            </p>*@
        </a>
    </div>