.text-style { color: #999999; }

.content-body { margin-top: 50px; }

.list-item-footer { text-align: right; margin-bottom: 0; }

.maxWidth { max-width: 300px; }

.navbar-text { margin-top: 9px; margin-bottom: 9px; }

.light-caret { border-top-color: #fff; }

.dropdown-item { padding: 3px 20px; padding-top: 3px; padding-right: 20px; padding-bottom: 3px; padding-left: 20px; font-weight: normal; line-height: 1.428571429; color: #333333; white-space: nowrap; }

.light-panel { background: #D4ECFA; border-color: #80C1E6; }

.flat-form-control:-moz-placeholder {
  color: #999999;
}

.flat-form-control::-moz-placeholder {
  color: #999999;
}

.flat-form-control:-ms-input-placeholder {
  color: #999999;
}

.flat-form-control::-webkit-input-placeholder {
  color: #999999;
}

.flat-form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.428571429; color: #555555; vertical-align: middle; background-color: #ffffff; border: 1px solid #cccccc; border-radius: 0px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.flat-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}