.text-style {
    color: #999999;
}

.content-body {
    margin-top: 50px;
}

.list-item-footer {
    text-align: right;
    margin-bottom: 0;
}

.maxWidth {
    max-width: 300px;
}

.navbar-text {
    margin-top: 9px;
    margin-bottom: 9px;
}

.light-caret {
    border-top-color: #fff;
}

.dropdown-item {
    padding: 3px 20px;
    padding-top: 3px;
    padding-right: 20px;
    padding-bottom: 3px;
    padding-left: 20px;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.light-panel { background:#D4ECFA; border-color:#80C1E6; }