<div ng-controller="HomeCtrl">
    <div class="font-xl text-center space l top">Welcome</div>
    <div class="menu-wrapper text-center">
        <div class="menu-box font-s" ng-click="go('/projects')">
            <div class="space l top">
                <span class="text-space l top">Projects</span>
            </div>
        </div>
        <div class="menu-box font-s" ng-click="go('/blog')">
            <div class="space l top">
                <span class="text-space l top">Blog</span>
            </div>
        </div>
        <div class="menu-box font-s" ng-click="go('/about')">
            <div class="space l top">
                <span class="text-space l top">About</span>
            </div>
        </div>
    </div>
</div>