@{
    ViewBag.Title = "Getting Started";
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        This page contains a lot of useful technic, small projects about the programming.
    </li>

    <li class="two">
        <h5>You can write your own question in the forum</h5>
        The idea is just share the problems with each other to solve it.
    </li>

    <li class="three">
        <h5>Keep in touch</h5>
        We can keep in touch, and you can discuss with other people in real time whatever you want!
    </li>
</ol>
