<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
