@{
    ViewBag.Title = "Projects";
}
    <div class="list-group" style="max-width:400px;">
        <a href="/Content/Projects/Asteroid/Index.html" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading">Asteroid War</h4>
            <p class="list-group-item-text">A simple web game, written in javascript with MVVM pattern(Knockout framework), the graphic part is SVG.Optimized for Chrome.</p>
        </a>
        <a href="/Content/Projects/TankWar/Index.html" target="_blank" class="list-group-item">
            <h4 class="list-group-item-heading">Tank War</h4>
            <p class="list-group-item-text">A simple web game, written in javascript, with canvas.Optimized for Chrome.</p>
        </a>
    </div>
