<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Create a forum</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="forumName">Name</label>
                <input type="text" class="form-control" id="forumName" placeholder="Name of the forum">
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="close(result)">Cancel</button>
            <button class="btn btn-info" ng-click="close(result)">Save</button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
<!-- /.modal-dalog -->
